:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-body-color: #fff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;

  --background-header-color: #fff;
  --background-banner-color: #C4C4C4;
  --backgruund-btn-filter-color: #f5f4fa;
  --background-tw-img-overlay-color: rgba(47, 48, 58, 0.8);
  --backgraund-feature-icon-color: #f5f4fa;
  --background-team-color: #f5f4fa;
  --background-team-card-color: #fff;
  --background-clients-color: #AFB1B8;
  --background-work-exampl-color: #fff;
  --bg-footer-socials-icon: rgba(255, 255, 255, 0.1);
  --bg-we-img-overlay-color: rgba(33, 150, 243, 0.9);
  --bg-overlay-color: rgba(0, 0, 0, 0.2);

  --shadow-one-team-card-color: rgba(0, 0, 0, 0.12);
  --shadow-two-team-card-color: rgba(0, 0, 0, 0.14);
  --shadow-three-team-card-color: rgba(0, 0, 0, 0.2);
  --shadow-one-work-exampl-color: rgba(0, 0, 0, 0.12);
  --shadow-two-work-exampl-color: rgba(0, 0, 0, 0.06);
  --shadow-three-work-exampl-color: rgba(0, 0, 0, 0.16);
  --shadow-one-btn-filter-color: rgba(0, 0, 0, 0.1);
  --shadow-two-btn-filter-color: rgba(0, 0, 0, 0.08);
  --shadow-three-btn-filter-color: rgba(0, 0, 0, 0.12);

  --primary-logo-color: #000;
  --accent-color: #2196f3;
  --accent-text-background-color: #fff;
  --button-header-border-color: rgba(0, 0, 0, 0.15);
  --footer-address-link-color: rgba(255, 255, 255, 0.6);
  --work-exampl-border-color: #eee;
  --header-line-color: #ececec;
  --primary-icon-color: #AFB1B8;
  --secondary-icon-color: #fff;
  --checkbox-icon-color: #000;

  --tduration: 250ms;
  --ttiming-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнулеzния верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* ---------------------  ГЛОБАЛЬНЫЕ КЛАССЫ --------------------------*/

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-body-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------  ШАПКА --------------------------*/

.header .container {
  display: flex;
}

.header {
  background-color: var(--background-der-color);
  border: 1px solid var(--header-line-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 93px;

}

.site-nav.list {
  display: flex;
}

.site-nav>.item {
  position: relative;
  display: flex;
}

.site-nav .item+.item {
  margin-left: 50px;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-logo-color);
}

.header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: background-color, color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.site-nav .link {
  padding: 25px 0px;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.link.current::after {
  transform: scaleX(1);
}

.site-nav .link:focus::after,
.site-nav .link:hover::after {
  transform: scaleX(1);
}

.info.list {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.info>.item+.item {
  margin-left: 30px;
}

.info .link {
  padding: 12px;
}

.icon-info {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentColor;
}

.accent,
.site-nav .current,
.site-nav .link:focus,
.site-nav .link:hover,
.info .link:focus,
.info .link:hover {
  color: var(--accent-color);
  transform: backgraund-color, color;
}

/* ---------------------  БАННЕР  --------------------------*/

.banner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-banner-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 695px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-background-color);
}

/* ---------------------  КНОПКА БАННЕРА  --------------------------*/

.btn-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-header-border-color);
  border-radius: 4px;
  border: none;

  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.btn-header:focus,
.btn-header:hover {
  transform: scale(1.05);
}

/* ---------------------  НАШИ ПРЕИМУЩЕСТВА  --------------------------*/

.feature.list {
  display: flex;
  flex-wrap: wrap;
}

.feature .item+.item {
  margin-left: 30px;
}

.feature>.item {
  width: calc((100% - 90px) / 4);
}

.case-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--backgraund-feature-icon-color);
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ---------------------  ЧЕМ МЫ ЗАНИМАЕМСЯ  --------------------------*/

.directions {
  padding-top: 0;
}

.directions .section-title {
  margin-bottom: 50px;
}

.type-work.list {
  display: flex;
  flex-wrap: wrap;
}

.type-work-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  height: auto;
}

.type-work-item::after {
  content: attr(data-alt);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-text-background-color);
  background: var(--background-tw-img-overlay-color);
}

.type-work-item+.type-work-item {
  margin-left: 30px;
}

/* ---------------------  НАША КОМАНДА  --------------------------*/

.team {
  background-color: var(--background-team-color);
}

.team .section-title {
  margin-bottom: 50px;
}

.workers.list {
  display: flex;
}

.job-card+.job-card {
  margin-left: 30px;
}

.job-card {
  width: calc((100% - 90px) / 4);
  text-align: center;
  background-color: var(--background-team-card-color);
  box-shadow: 0px 1px 3px var(--shadow-one-team-card-color),
    0px 1px 1px var(--shadow-two-team-card-color),
    0px 2px 1px var(--shadow-three-team-card-color);
  border-radius: 0px 0px 4px 4px;
}

.job-card-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.job-card .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.job-title {
  margin-bottom: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.socials-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.socials-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.socials-item+.socials-item {
  margin-left: 10px;
}

.socials-link {
  display: inline-block;
  padding: 12px;
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-icon-color);

  transition-property: background-color, fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);

}

.job-card .socials-item:focus,
.job-card .socials-item:hover,
.job-card .socials-item:focus .socials-icon,
.job-card .socials-item:hover .socials-icon {
  background-color: var(--accent-color);
  fill: var(--secondary-icon-color);
}

/* ---------------------  ПОСТОЯННЫЕ КЛИЕНТЫ  --------------------------*/

.clients {
  background-color: var(--primary-background-color);
}

.clients .section-title {
  margin-bottom: 50px;
}

.client.list {
  display: flex;
}

.client .item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.client>.item+.item {
  margin-left: 30px;
}

.client-brand {
  display: block;
  padding: 14px 32px;
}

.icon-brand {
  width: 106px;
  height: 60px;
  fill: var(--primary-icon-color);

  transition-property: fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.client>.item:hover,
.client>.item:focus {
  border-color: var(--accent-color);
}

.client>.item:hover .icon-brand,
.client>.item:focus .icon-brand {
  fill: var(--accent-color);
}

/* ---------------------  ФУТЕР  --------------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer-wrapper {
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.link.info {
  margin-top: 9px;

  transition-property: color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.footer-address.list {
  font-size: 14px;
  line-height: 1.71;
}

.footer-address .link {
  color: var(--footer-address-link-color);
}

.footer .logo,
.link.address {
  color: var(--accent-text-background-color);
}

.link.info:focus,
.link.info:hover {
  color: var(--accent-color);
}

.footer-socials {
  margin-left: 70px;
  margin-right: 93px;
  padding-top: 12px;
}

.footer-socials .socials-list {
  justify-content: start;
}

.socials-title,
.subscription-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-text-background-color);
  text-transform: uppercase;
}


.footer-socials .socials-item {
  background-color: var(--bg-footer-socials-icon);

  transition-property: background-color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);

}

.footer-socials .socials-icon {
  fill: var(--secondary-icon-color);
}

.footer-socials .socials-item:focus,
.footer-socials .socials-item:hover {
  background-color: var(--accent-color);
}

.subscription-form {
  padding-top: 12px;
}

.subscription-form-field {
  display: flex;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition-property: border-color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.subscription-input:focus {
  border-color: var(--accent-color);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;

  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--accent-text-background-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.send-icon {
  margin-left: 10px;
  fill: var(--accent-text-background-color);
}

.subscription-btn:focus,
.subscription-btn:hover {
  transform: scale(1.05);
}

/* ---------------------  МОДАЛЬНОЕ ОКНО  --------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-color: var(--bg-overlay-color);

  opacity: 1;
  transition-property: opacity, hidden;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--background-body-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
  /* overflow: auto; */
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: var(--background-body-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;

  transition-property: fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.modal-btn-close:focus,
.modal-btn-close:hover {
  fill: var(--accent-color);
}

.form-title {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form {
  display: block;
}

.form-field {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.form-label {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 11px 12px 11px 40px;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* outine: 1px solid rgba(33, 33, 33, 0.2); */
  border-radius: 4px;
  outline: none;
  /* outline: transparent; */

  transition-property: border-color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.form-input:focus,
.form-field:focus-within .input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* .modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.form-input:focus,
.form-field:focus-within .modal-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
} */

.comments {
  margin-bottom: 20px;
}

.comments-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
}

.comments-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.consent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;

  outline: 2px solid var(--checkbox-icon-color);
  outline-offset: -2px;
  border-radius: 2px;
  fill: var(--accent-color);

  transition-property: outline-color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.icon-check {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.checkbox:checked+.checkbox-icon {
  outline-color: var(--accent-color);
}

.checkbox:checked+.checkbox-icon .icon-check {
  opacity: 1;
}

/* .checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;

  outline: 2px solid var(--checkbox-icon-color);
  outline-offset: -2px;
  border-radius: 2px;

  transition-property: outline border-color background-color background-image;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.checkbox:checked+.checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/check-mark.svg');
  background-size: contain;
  background-origin: border-box;
  outline-color: var(--accent-color);
} */

.form-checkbox-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.mailing-rules {
  display: inline-block;
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--accent-text-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-header-border-color);
  border-radius: 4px;
  border: none;

  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);
}

.btn-send:focus,
.btn-send:hover {
  transform: scale(1.05);
}

/* --------------------  ПОРТФОЛИО  --------------------------*/

/* ---------------------  ФИЛЬТР --------------------------*/

.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item+.item {
  margin-left: 8px;
}

.btn-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--backgruund-btn-filter-color);
  color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  outline: none;

  transition-property: background-color, box-shadow, color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);

}

.filter>.item:nth-child(1) .btn-filter,
.active,
.btn-filter:focus,
.btn-filter:hover {
  color: var(--accent-text-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px var(--shadow-one-btn-filter-color),
    0px 1px 2px var(--shadow-two-btn-filter-color),
    0px 2px 2px var(--shadow-three-btn-filter-color);
}

/* .filter .item:first-child .btn-filter {} */

/* ---------------------  ПРИМЕРЫ РАБОТ  --------------------------*/

.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.work-exampl-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  height: auto;
  background-color: var(--background-work-exampl-color);
  border: 1px solid var(--work-exampl-border-color);

  transition-property: box-shadow;
  transition-duration: var(--tduration);
  transition-timing-function: cubic-bezier(var(--ttiming-function));
}

.work-exampl-item:nth-child(3n) {
  margin-right: 0;
}

.work-exampl-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-exampl-img {
  display: block;
}

.work-exampl-box-footer {
  margin: 0;
  padding: 20px 24px;
}

.work-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.work-exampl-images {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.work-example-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--bg-we-img-overlay-color);

  transform: translatey(101%);
  transition-property: transform;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttiming-function);

}

.work-example-img-overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-text-background-color);
}

.work-exampl-item:focus .work-example-img-overlay,
.work-exampl-item:hover .work-example-img-overlay {
  transform: translatex(0);
}

.work-exampl-item:focus,
.work-exampl-item:hover {
  box-shadow: 0px 1px 1px var(--shadow-one-work-exampl-color),
    0px 4px 4px var(--shadow-two-work-exampl-color),
    1px 4px 6px var(--shadow-three-work-exampl-color);
}


/* ---------------------  ХХХ  --------------------------*/