.benefits__list {
  display: block;

  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    @include mq(mob-only) {
      margin-bottom: 30px;
    }
  }

  @include mq(tab) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include mq(desk) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  background-color: $secondaryBgColor;
  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.benefits__description {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryTextColor;
}