.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: calc((100% - 90px) / 4);
}

.benefits__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: $secondaryBgColor;
  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__description {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryTextColor;
}