.clients__title {
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include mq(desk) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  border: 1px solid $iconColor;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;

  @include mq(tab) {
    width: calc((100% - 60px) / 3);
  }

  @include mq(desk) {
    width: calc((100% - 150px) / 6);
  }
}

.clients__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;

  fill: $iconColor;

  transition-property: fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}

.clients__item {

  &:focus,
  &:hover {
    border-color: $accentColor;
  }

  &:focus .clients__icon,
  &:hover .clients__icon {
    fill: $accentColor;
  }

}