.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  min-height: 400px;

  text-align: center;
  background-color: $heroBgColor;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/480/hero-480.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq(ret2) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/480/hero-480@2x.jpg');
  }

  @include mq(ret3) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/480/hero-480@3x.jpg');
  }


  @include mq(tab) {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/768/hero-768.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(ret2) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/768/hero-768@2x.jpg');
    }

    @include mq(ret3) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/768/hero-768@3x.jpg');
    }
  }

  @include mq(desk) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/1200/hero-1200.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(ret2) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/1200/hero-1200@2x.jpg');
    }

    @include mq(ret3) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/1200/hero-1200@3x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $lightColor;

  @include mq(desk) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}