.btn {
  display: block;

  margin-left: auto;
  margin-right: auto;

  padding: 0;
  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $lightColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px $shadowBtnColor;
  border-radius: 4px;
  border: none;

  transition-property: transform;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}

.btn {
  &:focus {
    transform: scale(1.05);
  }
  &:hover {
    transform: scale(1.05);
  }
}

// @mixin scotch-button-theme($color, $color-text-hover: $color-light) {
//     color: $color;
//     border-color: $color;
//     background-color: transparent;

//     &:hover {
//         color: $color-text-hover;
//         background-color: $color;
//     }
// }
