.contacts {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
  color: $secondaryTextColor;

  transition-property: color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}

.contacts__link {
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: background-color, color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}

.contacts__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentColor;
}

.contacts__link:focus,
.contacts__link:hover {
  color: $accentColor;
  transform: backgraund-color, color;
}
