.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 40px;

    @include mq(tab) {
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    @include mq(desk) {
        margin-bottom: 50px;
    }
}

.filter__btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    background-color: $secondaryBgColor;
    color: $primaryTextColor;
    border-radius: 4px;
    border: none;
    outline: none;

    transition-property: background-color, box-shadow, color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
}

.filter__item {
    &:nth-child(1) .filter__btn {
        color: $lightColor;
        background-color: $accentColor;
        box-shadow: 0px 3px 1px $shadowFirstFilterBtnColor,
            0px 1px 2px $shadowSecondFilterBtnColor,
            0px 2px 2px $shadowThirdFilterBtnColor;
    }
}

.filter__btn {

    &:focus,
    &:hover {
        color: $lightColor;
        background-color: $accentColor;
        box-shadow: 0px 3px 1px $shadowFirstFilterBtnColor,
            0px 1px 2px $shadowSecondFilterBtnColor,
            0px 2px 2px $shadowThirdFilterBtnColor;
    }
}