.logo {
  display: block;
  font-family: $logoFontFamily, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accentColor;
}

.logo__part--dark-color {
  color: $darkColor;
}

.logo__part--light-color {
  color: $lightColor;
}