.nav {
  display: flex;
  margin: 0 0 auto;
  font-size: 26px;
  line-height: 1.19;
  align-items: center;

  @include mq(tab) {
    margin-bottom: 0;
  }

}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq(tab) {
    flex-direction: row;
    gap: 50px;
  }
}

.nav__item {
  position: relative;
  display: flex;
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;


  @include mq(tab) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  transition-property: background-color,
  color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;

}

@include mq(tab) {
  .nav__link {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 100%;
      height: 4px;
      z-index: 1;

      background-color: $accentColor;
      border-radius: 2px;

      transform: scaleX(0);
      transition-property: transform;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
  }
}

.nav__link--current {
  &::after {
    transform: scaleX(1);
  }
}

.nav__link {

  &:focus::after,
  &:hover::after {
    transform: scaleX(1);
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.nav__link--current,
.nav__link:focus,
.nav__link:hover {
  color: $accentColor;
}