.socials {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.socials__item {
  // width: 44px;
  // height: 44px;
  border-radius: 50%;

  background-color: $footerSocialsBgColor;
  transition-property: background-color, fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}

.socials__link {
  display: inline-block;
  padding: 12px;
}

.socials__link--dark-bg {
  & .socials__icon {
    fill: $lightColor;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: $iconColor;

  transition-property: background-color, fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}

.socials__item:focus,
.socials__item:hover,
.socials__item:focus .socials__icon,
.socials__item:hover .socials__icon {
  background-color: $accentColor;
  fill: $lightColor;
}