html {
    box-sizing: border-box;
}

/* Стили для обнулеzния верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}