body {
    font-family: $FontFamily, sans-serif;
    letter-spacing: $LetterSpacing;

    color: $primaryTextColor;
    background-color: $primaryBgColor;
}

.title {
    margin-bottom: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}