$FontFamily: 'Roboto';
$logoFontFamily: 'Raleway';
$LetterSpacing: 0.03em;

$accentColor: #2196f3;
$headerLineColor: #ececec;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$iconColor: #afb1b8;
$footerTextColor: rgba(255, 255, 255, 0.6);
$lightColor: #ffffff;
$darkColor: #000000;
$placeholderColor: rgba(117, 117, 117, 0.5);

$primaryBgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$heroBgColor: #c4c4c4;
$clientsBgColor: #f5f5f5;
$footerBgColor: #2f303a;
$backdropBgColor: rgba(0, 0, 0, 0.2);
$overlayDirectionsBgColor: rgba(47, 48, 58, 0.8);
$overlayWorkExamplesBgColor: rgba(33, 150, 243, 0.9);
$footerSocialsBgColor: rgba(255, 255, 255, 0.1);

$workExamplesBorderColor: #eeeeee;
$footerInputBorderColor: rgba(255, 255, 255, 0.3);
$modalCloseBtnBorderColor: rgba(0, 0, 0, 0.1);

$shadowBtnColor: rgba(0, 0, 0, 0.15);

$shadowFirstEmployeesColor: rgba(0, 0, 0, 0.12);
$shadowSecondEmployeesColor: rgba(0, 0, 0, 0.14);
$shadowThirdEmployeesColor: rgba(0, 0, 0, 0.2);

$shadowFirstWorkExamplesColor: rgba(0, 0, 0, 0.12);
$shadowSecondWorkExamplesColor: rgba(0, 0, 0, 0.06);
$shadowThirdWorkExamplesColor: rgba(0, 0, 0, 0.16);

$shadowFirstModalColor: rgba(0, 0, 0, 0.12);
$shadowSecondModalColor: rgba(0, 0, 0, 0.14);
$shadowThirdModalColor: rgba(0, 0, 0, 0.2);

$shadowFirstFilterBtnColor: rgba(0, 0, 0, 0.1);
$shadowSecondFilterBtnColor: rgba(0, 0, 0, 0.08);
$shadowThirdFilterBtnColor: rgba(0, 0, 0, 0.12);

$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);